.ipynb_checkpoints/
*.ipynb
.ccls-cache/
__pycache__
*.pyc
venv/
*.so
*.o
*.egg-info
*.EFI
build/
disk.img
fat_disk
www/
mikanos-build/
GPATH
GRTAGS
GTAGS
*.png
*.gif
*.sqlite
*.db
*.ttf
node_modules/